@model IEnumerable<MvcFPTBook.Models.Author>

@{
    Layout = "_AdminLayout";

    ViewData["Title"] = "Index";
}

<h1 class="p-3 mb-2 bg-info text-dark">Author List</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <p>
        <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
    </p>

    <p>
        <a asp-action="ExportAuthorList" type="button" class="btn btn-outline-success "><i
                class="fa-solid fa-file-excel"></i></a>
    </p>
</div>
<table class="table table-striped">
    <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning"><i
                        class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-secondary"><i
                        class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger"><i
                        class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
