@model IEnumerable<MvcFPTBook.Models.Book>

@{
    Layout = "_AdminLayout";

    ViewData["Title"] = "Index";
}

<h1 class="p-3 mb-2 bg-info text-dark">Book List</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <p>
        <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
    </p>
    <p>
        <a asp-action="ExportBookList" type="button" class="btn btn-outline-success "><i
                class="fa-solid fa-file-excel"></i></a>
    </p>
    <form asp-controller="Books" asp-action="Search" method="get">
    <p>
        Name: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>
</div>
<table class="table table-striped">
    <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publiccationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publishers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poster)
                    <img src="~/Uploads/@item.Poster" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publiccationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publishers.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning"><i
                        class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-secondary"><i
                        class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger"><i
                        class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
